/**
* General stylesheet 
*
*@author Samy Sah samy.sah@student.odisee.be>
*
*/

/*=============================================
* General
===============================================*/
html {
	font-size: 0.625rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fbd3682e;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.35rem;
	line-height: 2;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	max-width: 100rem;
	width: 85%;
}
/*=============================================
* Header
===============================================*/

header {
	align-items: center;
	background-color: #2c3f55;
	border-radius: 0.2rem;
	justify-content: space-between;
	margin-bottom: 5rem;
	padding: 3rem;
}

h1 {
	font-size: 4rem;
	text-align: center;
}

span {
	transition: all 0.4s ease;
}

span.vervang {
	color: rgb(180, 148, 43);
	opacity: 1;
}

/*=============================================
* Main
===============================================*/

#resizable {
    background: #c0bbac73;
    border-radius: 1.5rem;
    box-shadow: 0.3rem 0.2rem 0.2rem #c0bbac;
    margin-top: 1rem;
    max-width: 100%;
    max-height: 45rem;
    margin-left: 2rem;
}
figcaption{
	line-height: 2rem;
	margin: 0.3rem;
    text-align: end;
}
canvas {
	background: #c0bbac73;
    border-radius: 1.5rem;
    box-shadow: 0.3rem 0.2rem 0.2rem #c0bbac;
	margin: 1rem 0;
	border-radius: 1.5rem;
	height: 45rem;
    max-width: 100%;
    max-height: 100%;
}
img {
	border-radius: 1.5rem;
	float: right;
	height: fit-content;
    width: auto;
	max-height: 100%;
	width: -webkit-fill-available;
}

.edit {
	display: flex;
	flex-flow: column nowrap;
	line-height: 1.4rem;
    max-width: 30rem;
    margin: 0rem 5rem 5rem 2rem;
}

h2 {
	color: #2c3f55;
    font-size: 2.5rem;
    margin: 1rem 0 1rem 0;
}

.settings{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
    list-style: none;
    margin-left: 0.3rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.settings button{
	border: 2px solid #000;
	border-radius: 0.5rem;
	box-shadow: 0.3rem 0.2rem 0.2rem #c0bbac;
	cursor: pointer;
	font-size: 1.5rem;
	justify-content: center;
	margin: 1rem;
	min-width: 17rem;
	padding: 0.5rem 1rem;
}

button{
	background-color: #b4942b;
	cursor: pointer;
	font-size: 1.3rem;
	text-transform: uppercase;
	width: 1rem;
}

button:hover, .menu.active{
	background-color: #2c3f55;
	color: #fff;
	transition: 0.3s;
}
label {
	display: block;
	font-size: 1.5rem;
}
.help{
	color: #2c3f55;
    position: absolute;
    top: 37rem;
    right: 34rem;
}
input, label {
	line-height: 3rem;
}


@media (min-width: 65rem){
	.settings{ 
		flex-flow: row nowrap;
	}
	.container {
		width: 100rem;
	}
	.resizable  {
		flex-flow: row nowrap;
		width: 100rem;
	}
	.edit {
		flex-flow: row nowrap;
	}
}
/*=============================================
* Sliders
===============================================*/

#options {
	background: #e2dccb;
    box-sizing: border-box;
    border: solid;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    width: 26rem;
}
.slider {
	background-color: #b4942bb8;
	border-radius: 2rem;
	transition: 0.4s;
	-webkit-appearance: none;    
	width: 100%;
}

.slider:hover {	
	background-color:#b4942b;
	opacity: 1;
}

/*https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
.slider::-webkit-slider-thumb {		
	appearance: none;
	background-color: #2c3f55;
	border-radius: 2.5rem;
	cursor: pointer;
	height: 2rem;
	-webkit-appearance: none;
	width: 2rem;
}

::selection{	
	background-color: #2c3f55;
	color: white;
}

.slider:focus{
	outline: 0 none;
}

button:focus{
	outline: 0 none
}

/*=============================================
* Load URL images
===============================================*/

.url {
	text-align: center;
}

.url input[type="file"] {
	height: 4rem;
    position: absolute;
    opacity: 0;
    position: absolute;
    top: 19rem;
    right: 3rem;
}
.url label {
    border: 2px solid #000;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.2rem 0.2rem #c0bbac;
    cursor: pointer;
    font-size: 1.4rem;
    justify-content: center;
    margin: 1rem;
    min-width: 12rem;
    padding: 0.5rem 0rem;
}
.url label:hover{
	background-color: #2c3f55;
	color: #fff;
	transition: 0.3s;
}