/**
* General stylesheet 
*
*@author Samy Sah samy.sah@student.odisee.be>
*
*/

/*=============================================
* General
===============================================*/
html{ 
	font-size: 0.625rem;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body { 
	font-family: Arial;
	font-size: 1.4rem;
	line-height: 2;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.9rem;
	padding-left: 1.9rem;
}
/*=============================================
* Head
===============================================*/
div ul{
	list-style: none;
	text-align: center;
	justify-content: center;
}

div li {
	border: solid 0.1rem;
	background-color: #00000066;
	display: inline-block;
	font-size: 1.3rem;
	margin-left: 3rem;
	margin-bottom: 3rem;
	text-transform: uppercase;
	text-align: center;
	width: 10rem;
}
div li:hover{
	background-color: #000000cc;
	color: #fff;
	transition: 0.3s;
}
div li a:hover{
	color: #fff;
	transition: 0.3s;
}
a{
	color: #000;
	text-decoration: none;
}
div{
	text-align: center;
	justify-content: center;
}
img{
	align-items: center;
	opacity: 100%;
	width: 100%;;
}
body img{
	background-position: center;
}
.wrapper{
	display: flex; 
}
#rngSize{
	width: 51rem;
}
.grayscale{
	filter: 100%;
}
.Normal{
	filter: 100%;
}
.Sepia{
	filter: 100%;
}
.Hue{
	filter: 100%;
}
.Blur{
	filter: 100%;
}
@media (min-width: 50rem){
	.wrapper {
		width: 100rem;
	}
	body{
		width: 100rem;
	}
	div ul{
		width: 100rem;
	}
	img{
		width: 100%;
	}
}
