/**
* General stylesheet 
*
*@author Samy Sah samy.sah@student.odisee.be>
*
*/

/*=============================================
* General
===============================================*/
html{ 
	font-size: 0.625rem;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	font-family: Arial;
	font-size: 1.4rem;
	line-height: 2;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.9rem;
	padding-left: 1.9rem;
}
.filter{
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	max-width: 70rem;
}
.filters{
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	list-style: none;
	padding: 0;
}
div ul{
	list-style: none;
	text-align: center;
	justify-content: center;
}
.filters button {
	border: 1px solid;
	cursor: pointer;
	margin: 1rem;
	padding: 0.5rem 1rem;
	min-width: 12rem;
}
button {
	background-color: #00000066;
	cursor: pointer;
	font-size: 1.3rem;
	margin-left: 3rem;
	margin-bottom: 3rem;
	text-transform: uppercase;
	text-align: center;
	width: 10rem;
}
button:hover{
	background-color: #000000cc;
	color: #fff;
	transition: 0.3s;
}
div{
	text-align: center;
	justify-content: center;
}
img{
	max-width: 100%;;
}
body img{
	background-position: center;
}
@media (min-width: 50rem){
	button{

	}
	body{
		width: 100rem;
	}
	img{
		width: 100%;
	}
}
